body {
    margin: 0;
    height: 100vh;
}

section {
    height: 100vh;
    /* position: absolute; */
}

section ul {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain auto;
    height: 100vh;
    margin: 0;
    padding: 0;

}

section ul li {
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;

}

section ul li img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

ul li div {
    position: absolute;
    z-index: 75;
    display: block;
    text-align: center;
    align-self: center;
    bottom: 15em;
    color: var(--color-text);
    padding: 1em;
    background-color: var(--achter-tekst);
}

em {
    display: block;
    font-style: normal;
    text-transform: lowercase;
}

h2 {
    text-transform: uppercase;
    margin: 0;
}

#hallo {
    right: 0em;
}

main a {

    position: absolute;
    width: 2em;
    z-index: 100;
    padding: 0.5em;
    margin: 0.7em;
    background-color: var(--knop-color);
    color: var(--color-text);

    border-style: solid;
    border-radius: 1em;
    border-color: var(--knop-color);
    text-decoration: none;
    bottom: 4em;
}

li div a {
    bottom: 0;
    position: relative;
    width: auto;
    padding: 0.5em;
    margin: 0.7em;
    background-color: var(--knop-color);
    color: var(--color-text);

    border-style: solid;
    border-radius: 1em;
    border-color: var(--knop-color);
    text-decoration: none;
    text-transform: uppercase;
}

div p {
    margin-bottom: 2em;
}