body {
    margin: 0;
    height: 100vh;

}

main section:first-of-type {
    height: 100vh;
    /* position: absolute; */
}

main section:first-of-type ul {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain auto;
    height: 100vh;
    margin: 0;
    padding: 0;

}

main section:first-of-type ul li {
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;

}

main section:first-of-type ul li img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

ul li div {
    position: absolute;
    z-index: 75;
    display: block;
    text-align: center;
    align-self: center;
    bottom: 15em;
    color: var(--color-text);
    padding: 1em;
    background-color: var(--achter-tekst);
}

em {
    display: block;
    font-style: normal;
    text-transform: lowercase;
}

main h2 {
    text-transform: uppercase;
    margin: 0;
}

main a {

    position: absolute;
    width: 2em;
    z-index: 100;
    padding: 0.5em;
    margin: 0.7em;
    background-image: linear-gradient(45deg,
            rgb(216, 176, 176),
            rgb(152, 81, 81));
    color: var(--color-text);
    border-style: none;
    border-radius: 1em;
    border-color: var(--knop-color);
    text-decoration: none;
    bottom: 4em;
}

#hallo {
    right: 0em;
    background-image: linear-gradient(45deg,
            rgb(216, 176, 176),
            rgb(152, 81, 81));
}

li div a {
    bottom: 0;
    position: relative;
    width: auto;
    padding: 0.5em;
    margin: 0.7em;
    background-image: linear-gradient(45deg,
            rgb(216, 176, 176),
            rgb(152, 81, 81));
    color: var(--color-text);
    border-style: none;
    border-radius: 1em;
    border-color: var(--knop-color);
    text-decoration: none;
    text-transform: uppercase;
}

div p {
    margin-bottom: 2em;
}

div:nth-of-type(1) a:hover {
    background-image: linear-gradient(45deg,
            rgb(152, 81, 81),
            rgb(216, 176, 176));
    padding: 0.6em;
    transition: 0.5s;
}

div:nth-of-type(1) #hallo:hover {
    background-image: linear-gradient(45deg,
            rgb(152, 81, 81),
            rgb(216, 176, 176));
    padding: 0.6em;
    transition: 0.5s;
}


html {
    scroll-behavior: smooth;
}

/* Tweede section */

section:nth-of-type(2) img:first-of-type {
    max-width: 60%;
    border-radius: 1em;
}

main section:nth-of-type(2) {
    padding-top: 0.5em;
    margin: 2em;


}

main section:nth-of-type(2) h2 {
    background-image: linear-gradient(12deg,
            rgb(152, 81, 81),
            rgb(213, 174, 174),
            rgb(152, 81, 81));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

em {
    font-style: italic;
}

main section:nth-of-type(2) figcaption {
    border-left: solid;
    color: var(--afbeelding-tekst);

}

main section:nth-of-type(2) figcaption p {
    margin: 0.2em;
    margin-left: 1em;
    font-size: small;
}

main section:nth-of-type(2) img:nth-of-type(2) {
    margin-top: 2em;
    max-width: 100%;
    border-radius: 1em;
}

main section:nth-of-type(2) img:nth-of-type(1):hover {
    border-radius: 10em;
    transition: 1s;
}

main section:nth-of-type(2) img:nth-of-type(2):hover {
    border-radius: 20em;
    transition: 1s;
}



/* LIJSTJE */
main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding-bottom: 4em;

}

main section:nth-of-type(3) ul {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 100%;
    gap: 2em;
}

main section:nth-of-type(3) ul img:first-of-type {
    width: 100%;
    height: auto;
    align-self: stretch;
    object-fit: cover;
    display: block;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 3em;
}


main section:nth-of-type(3) ul li {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: max-content max-content;
    column-gap: 1.5em;
    padding-bottom: 1em;
    border-bottom: solid;
}

main section:nth-of-type(3) ul li h4 {

    grid-column-start: 2;
    align-self: end;
    margin: 0;
}

main section:nth-of-type(3) ul li p {
    grid-column-start: 2;
    align-self: start;
    margin: 0;
}

main section:nth-of-type(3) ul li p:last-of-type {
    grid-column-start: 3;
    margin: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

main section:nth-of-type(3) ul li:hover p:last-of-type {
    scale: 1.5;
    transition: 0.5s;
}

main section:nth-of-type(3) h2 {
    background-image: linear-gradient(12deg,
            rgb(152, 81, 81),
            rgb(213, 174, 174),
            rgb(152, 81, 81));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

p,
h4 {
    font-family: 'Arizonasans';
    font-weight: 500;
}

strong {
    font-weight: 700;
}