body {
    background-color: blue;
    color: var(--color-text);
    margin: 0;
}

#pause-button {
    height: 3em;
    width: 3em;
    position: relative;
    top: 10em;
    left: 1em;
    z-index: 100;

    background-color: var(--knop-color);

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#pause-button:hover {
    background-color: black;
    color: aliceblue;
}

/* MAIN */



main {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
}


/****************/
/* section 1*/
/****************/

section:nth-of-type(1) video {
    position: fixed;

    top: 0;
    left: 0;


    object-fit: cover;
    width: 100%;
    height: 100vh;

}

main>section:nth-of-type(1) div {
    display: block;
    position: fixed;
    z-index: 50;
    /* width: 100%; */
    /* height: 100dvh; */
    pointer-events: none;
    margin: 2em;
    top: 15em;
    text-align: center;
    /* display: grid; */
    /* place-content: center;
    place-items: center; */
    background-color: var(--achter-tekst);

}

main>section:nth-of-type(1) div h2 {
    text-transform: uppercase;
    color: var(--knop-color);
    background-image: linear-gradient(45deg,
            rgb(152, 81, 81),
            rgb(213, 174, 174),
            rgb(152, 81, 81));
    /* background-color: var(--achter-tekst); */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4em;
    line-height: 1.1em;
}

/* main>section:nth-of-type(1) div p {
    
} */
/* background-color: var(--achter-tekst); */
/* alle sections */


main>section {
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    z-index: 75;

}



main>section:not(:nth-of-type(1)) div {
    position: absolute;
    bottom: 5em;
    left: 2em;

    z-index: 100;
    width: min(calc(100% - 4em), 24em);
    background-color: var(--achter-tekst);
    padding: 1em;
}

main>section img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main>section:not(:nth-of-type(1)) a {
    text-decoration: none;

}

main>section:not(:nth-of-type(1)) h2 {
    color: var(--color-text);


}



main>section:not(:nth-of-type(1)) p {
    color: var(--color-text);


}

em {
    display: block;
    font-style: normal;
}