/****************/
/* section */
/****************/

/* MAIN */
* {
    border: 1px solid red;

}


main {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

/* alle sections */

main>section {
    position: relative;
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;

    z-index: 75;
}

main>section:not(:nth-of-type(1)) div {
    position: absolute;
    bottom: 3em;
    left: 2em;
    z-index: 100;
    width: min(calc(100% - 4em), 24em);
}

main>section>img {
    position: relative;
    height: 100%;
    width: 100%;
    /* width: 100vw; */
    object-fit: cover;
}

em {
    display: block;
}



/****************/
/* section 1*/
/****************/

section:nth-of-type(1) video {
    position: fixed;

    top: 0;
    left: 0;

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* object-position: 60% center; */
}

main>section:nth-of-type(1) div {
    position: fixed;
    z-index: 50;
    /* inset: 0; */
    top: 0;
    left: 0;
    /* background-color: red; */

    width: 100vw;
    height: 100vh;

    pointer-events: none;

    display: grid;
    place-content: center;
    place-items: center;

}