@font-face {
	font-family: 'Arizonasans';
	src: url('../fonts/ABCArizonaSans-Light-Trial.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Arizonasans';
	src: url('../fonts/ABCArizonaSans-Medium-Trial.woff2') format('woff2');
	font-weight: medium;
}

@font-face {
	font-family: 'Arizonaserif';
	src: url('../fonts/ABCArizonaSerif-Light-Trial.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: 'Arizonaserif';
	src: url('../fonts/ABCArizonaSerif-LightItalic-Trial.woff2') format('woff2');
	font-style: italic;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: blue;
	color: var(--color-text);
	margin: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #eee;
	--color-background: #eee;
	--link-visited-color: #f51cca;
}

img {
	max-width: 100%;
}

.visuallyhidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}



/****************/
/* Header */
/****************/

header {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;
}



/****************/
/* NAV boven */
/****************/
header nav:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	gap: 1em;
	position: fixed;
	width: 100%;

}

nav a:nth-of-type(1) {
	margin-right: auto;
}

nav img {
	width: 4em;
	margin-left: 1em;
}


/****************/
/* NAV onder */
/****************/

header nav:nth-of-type(2) {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Arizonasans';
	font-weight: 500;

}

header nav:nth-of-type(2) ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.8em;
	max-width: 100%;
	margin: 0;
	background-image: linear-gradient(rgb(0 0 0 / 0.2), rgba(0 0 0 / 1));

}

header nav ul li {
	list-style: none;


}

header nav ul li a {
	text-decoration: none;
	color: var(--color-text);
	text-transform: uppercase;
	outline: none;
	position: relative;
}

header nav ul li a span {
	position: absolute;
	left: -9999em;
}

@media (width > 30em) {
	header nav ul li a span {
		position: static;
		left: 0;
	}

}

header nav ul li a:hover {
	color: var(--link-visited-color);
	text-decoration: underline;
}

header nav ul li a:focus-visible {
	outline: none;
	box-shadow: 0 0 0 3px #f51cca;
}

header nav ul li a.active {
	color: var(--link-visited-color);
	text-decoration: underline;
}

/* MAIN */



main {
	scroll-snap-type: y mandatory;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100dvh;
	overflow-y: auto;
}





/****************/
/* section 1*/
/****************/

section:nth-of-type(1) video {
	position: fixed;

	top: 0;
	left: 0;
	/* right: 1em; */

	object-fit: cover;
	width: 100%;
	height: 100vh;
	/* object-position: 60% center; */
	/* display: none; */
}

main>section:nth-of-type(1) div {
	position: fixed;
	z-index: 50;
	/* inset: 0; */
	top: 0;
	left: 0;
	/* background-color: red; */

	width: 100%;
	height: 100dvh;

	pointer-events: none;

	display: grid;
	place-content: center;
	place-items: center;

}



/* alle sections */

main>section {
	position: relative;
	scroll-snap-align: center;
	width: 100%;
	height: 100vh;
	flex-shrink: 0;

	z-index: 75;
}

main>section:not(:nth-of-type(1)) div {
	position: absolute;
	bottom: 3em;
	left: 2em;
	z-index: 100;
	width: min(calc(100% - 4em), 24em);
}

main>section>img {
	position: relative;
	height: 100%;
	width: 100%;

	object-fit: cover;
}

main>section:not(:nth-of-type(1)) a {
	text-decoration: none;
}

main>section:not(:nth-of-type(1)) h2 {
	color: var(--color-text);


}



main>section:not(:nth-of-type(1)) p {
	color: var(--color-text);


}

em {
	display: block;
}

@media (max-width: 455px) {
	main>section:nth-of-type(3) img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}